*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h5 {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'century gothic';
    font-size: 18px;
    user-select: none;
}
header {
    background-color: rgb(255, 255, 255);
}
.container {
    margin: 0 auto;
    max-width: 1100px;
    /* outline: 1px solid red; */
}
.header-content{
    display: flex;
    justify-content: space-between;
}
.header__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 25%;
}
.header__logo__img{
    width: 69px;
}
.header__logo__name {
   font-weight: 500; 
   font-size: 36px;
}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: right;
}
.header-nav__list {
    display: flex;
    list-style: none;
}

.header__nav__item a {
    text-decoration: none;
    color: #000;
    margin-left: 2.5rem;
}
.header__nav__item a:hover {
    cursor: pointer;
    color: #000;
    padding-bottom: 8px;
    border-bottom: 6px solid black;
    opacity: 0.7;
    transition: 0.2s all;
}

.header__cover {
    background:url(./img/main-cover.jpg) 50% 50% / cover no-repeat;
    height: 89vh;
}
/* стили портфолио */
.section__title-name {
    text-transform: uppercase;
    text-align: center;
    margin: 50px 0 50px 0;
}
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    margin: 0 -1rem;
}
.portfolio__item {
    display: flex;
    flex-direction: column;

}
.portfolio__item__image {
    max-height: 360px;
    overflow: hidden;
    position: relative;
    padding-bottom: 89%;
    transition: 0.6s all
}
.portfolio__item__image:hover {
    transform: scale(1.1);
    transition: 0.7s all
}
.portfolio__item__image > img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.extra > img {
    top: -8%;
}
 .portfolio__col {
/*     outline: 1px solid red; */
    flex-basis: 33.33%;
    padding: 0 1rem 1rem 1rem;
}
.portfolio__item__title {
    display: flex;
    align-self: center;
    padding-top: 15px;
}
.portfolio__item-name {
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
}
/* профайл */
.section {
    margin-top: 100px;
}
.profile__item { 
    display: flex;
}
.profile__img {
    flex-basis: 40%;
    position: relative;
}
.profile__img > img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.profile__text {
   /*  outline: 1px solid red; */
    flex-basis: 60%;
}
.profile__text-title {
    margin: 20px 20px 0 30px;
}
.profile__text-title-name {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
}
.profile__text-content {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 40px;
}
.profile__text-content:last-child {

    margin-bottom: 0px;
}